<ul class="footer">
    <div class="about_panel">
        <h3>Moodify</h3>
        <a class="about"><li>About Us</li></a>
        <a class="contact" href="/contact"><li>Contact</li></a>
    </div>
    <div class="social_media">
        <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>    
</ul>

<ul class="footer_copy">
    <li>&copy; Copyright 2017, Moodify. All rights reserved.</li>
</ul>

<style>
    .footer {
        position: absolute;
        top: 2100px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 172, 230, 1);
        width: 100%;
        height: 30vh;
        list-style-type: none;
        
    }
    
    .footer .about_panel {
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .footer .about_panel h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        color: white;
        margin: 0;
    }
    
    .footer .about_panel a {
        text-decoration: none;
    }
    
    .footer .about_panel a li{
        font-family: 'Roboto', sans-serif;
        color: white;
        margin-top: 10px;
        cursor: pointer;
    } 
    
    .footer .social_media {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
    .footer a i{
        color: white;
        font-size: 50px;
        margin-right: 10px;
    }
    
    .footer_copy {
        position: absolute;
        top: 2295px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 172, 230, 0.5);
        width: 100%;
        height: 13vh;
        list-style-type: none;
    }
    
    .footer_copy li {
        color: white;
        top: 5vh;
        position: absolute;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif;
    }
</style>