   <div class="proffesional_price">
                <div class="basic_panel2">
                    <div class="panel_banner2"></div>
                    <h1>Basic</h1>
                    <p>Free</p>
                    <ul>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Choose from our pre-built journals</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Use our default analytics</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Have up to 30 patients</li>
                    </ul>
                    <a href="/signup"><button class="panel_button2">Get Basic</button></a>
                </div>
                <div class="gold_panel2">
                    <div class="panel_banner2"></div> 
                    <h1>Gold</h1>
                    <p><b>$9.99</b> / month.</p>
                    <ul>
                         <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Choose from our pre-built journals</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Design your own journals</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Full access to analytical data</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Have unlimited patients</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Download patient data as PDf's</li>
                        <li><i class="fa fa-check fa-2x" aria-hidden="true"></i>Send customized messages</li>
                    </ul>
                    <a href="/signup"><button class="panel_button2">Use Gold</button></a>
                </div>
            </div>


<style>
.basic_panel2 {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    position: relative;
    width: 30%;
    float: left;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 130px;
}

.basic_panel2:hover {
    height: 71vh;
    width: 31%;
}

.basic_panel2 .panel_banner2 {
    background-color: #333333;
}

.basic_panel2 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

.basic_panel2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.basic_panel2 .panel_button2 {
    background-color: #333333;
}

.basic_panel2 .panel_button2:hover {
    background-color: black;
}


.gold_panel2 {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    position: relative;
    width: 30%;
    float: right;
    height: 70vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 130px;
}

.gold_panel2:hover {
    height: 71vh;
    width: 31%;
}

.gold_panel2 .panel_banner2 {
    background-color: #FFD700;
}

.gold_panel2 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

.gold_panel2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.gold_panel2 .panel_button2 {
    background-color: #FFD700;
    color: black;
}

.gold_panel2 .panel_button2:hover {
    background-color: #ebca14
}

.panel_banner2 {
    width: 100%;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(217, 217, 217);
}

.proffesional_price ul {
    list-style-type: none;
}

.proffesional_price ul li {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

.proffesional_price ul li i {
    margin-right: 5px;
}

.panel_button2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    width: 80%;
    transition: 0.3s;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 75%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transform: translate(-50%,50%);   
}

</style>