<div class="sidebar">
    <ul>
        <li>My Patients</li>
    </ul>
</div>

<style>  
    .sidebar {
        margin-top: 2vh;
        width: 25%;
        height: 88vh;
        float: left;
        background-color: rgb(0, 134, 178);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    
    .sidebar ul {
        list-style-type: none;
    }
    
    .sidebar ul li {
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        margin-left: 20px;
    }
</style>