<HTML>
    
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navbar.ejs %>
        <div class="container">
            <h1>Plans for Proffesionals</h1>
            <p>(Coming Soon)</p>
            <% include partials/plan.ejs %>
        </div>    
    </body>
</HTML>