body {
    height: 800px;
}

.container {
    width: 80%;
    margin: auto;
}

.container h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
}

.container p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}